
<div>
    <form action="https://formspree.io/xwkrnble" method="POST">
        <label>
            Din mailadress:
            <input type="text" name="_replyto">
        </label>
        
        <label>
            Meddelande:
            <textarea name="message" rows="10" cols="100"></textarea>
        </label>

        <button type="submit">Skicka</button>
    </form>
    <style type="text/css">
        form label {
            padding: 1em 0;
            margin: 1em 0;
        }
        input, textarea {
            width: 100%;
            min-width: 100%;
            padding: 1em;
            margin-bottom: 2em;
            box-sizing: border-box;
        }
        textarea {
            height: 15em;
        }
    </style>
</div>